<article class="{{post_class}}">
	<div class="post-image">
		<div class="rectangle">
			<div class="circle">
				{{content words="0"}}
				<div class="overlay"></div>
			</div>
		</div>
	</div>
	<div class="post-excerpt">
		<h1 class="post-title"><a href="{{url}}" title="{{{title}}}">{{{title}}}</a></h1>
		<p>{{excerpt words="42"}} &hellip;</p>
		<div class="read-more"><a href="{{url}}" title="{{{title}}}"><div class="rectangle"><div class="circle"><img src="{{asset "images/arrow.svg"}}" alt="" /></div></div>Read more</a></div>
	</div>
</article>