<article id="post-{{id}}" class="{{post_class}}" role="article">
	<div class="post-image">
		<a href="{{url}}" title="{{{title}}}">{{content words="0"}}</a>
	</div>
	<div class="post-excerpt">
		<div class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM YYYY"}}</time></div>
		<h1 class="post-title"><a href="{{url}}" title="{{{title}}}">{{{title}}}</a></h1>
		<p>{{excerpt words="42"}} &hellip;</p>
		<div class="read-more"><a href="{{url}}" title="{{{title}}}"><div class="rectangle"><div class="circle"><img src="{{asset "images/arrow-right.svg"}}" alt="" /></div></div>Read more</a></div>
	</div>
</article>