<!DOCTYPE html>
<html class="no-js" lang="da-DK" itemscope itemtype="http://schema.org/Blog">

<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
{{#if post}}
	<title>{{meta_title}} - {{@blog.title}}</title>
	{{#post}}<meta name="description" content="{{meta_description}}" />{{/post}}
{{else}}
	<title>{{@blog.title}}</title>
	<meta name="description" content="{{@blog.description}}" />
{{/if}}
<meta name="HandheldFriendly" content="True" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" id="google-font-css" href="//fonts.googleapis.com/css?family=Roboto+Slab:300,400|Open+Sans:400,700" />
<!-- build:css -->
<link rel="stylesheet" id="normalize-css" href="{{asset "css/normalize.css"}}" />
<link rel="stylesheet" id="pipe-css" href="{{asset "css/style.css"}}" />
<!-- endbuild -->

<link rel="shortcut icon" href="{{@blog.logo}}" />
<link rel="icon" href="{{@blog.logo}}" />

<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{{@blog.url}}/rss/" />

{{> custom/meta}}

{{ghost_head}}
</head>

<body class="{{body_class}}">
<header class="blog-header" role="banner">
	{{#if @blog.logo}}
		<div class="blog-logo"><a href="{{@blog.url}}" title="{{@blog.title}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a></div>
	{{/if}}
	<div class="blog-title"><h1><a href="{{@blog.url}}" title="{{@blog.title}}">{{@blog.title}}</a></h1></div>
	<div class="blog-description"><h2>{{@blog.description}}</h2></div>
	{{#if @blog.cover}}
		<div class="blog-cover" style="background-image: url({{@blog.cover}})"></div>
	{{/if}}
	{{> custom/navigation}}
</header>

<section class="blog-content" role="main">
	{{{body}}}
</section>

<footer class="blog-footer" role="contentinfo">
	<p>Copyright &copy; {{date format="YYYY"}} Thomas Clausen<span>&middot;</span>Proudly powered by <a href="http://tryghost.org" target="_blank">Ghost</a><span>&middot;</span>Theme by <a href="http://www.thomasclausen.dk" target="_blank">Thomas Clausen</a></p>
</footer>

{{ghost_foot}}

{{> custom/analytics}}

<!-- build:js -->
<script src="{{asset "js/modernizr.custom.js"}}" async></script>
<script src="{{asset "js/classie.js"}}" async></script>
<script src="{{asset "js/imagesloaded.pkgd.js"}}" async></script>
<script src="{{asset "js/script.js"}}" async></script>
<!-- endbuild -->
</body>

</html>
