{{!< default}}

{{#post}}
	{{#contentFor "meta-facebook"}}
		<meta property="og:type" content="article" />
		<meta property="article:publisher" content="https://www.facebook.com/facebookusername" />
		<meta property="article:author" content="https://www.facebook.com/facebookusername" />
		<meta property="article:published_time" content="{{date format='YYYY-MM-DD'}}" />
		{{#foreach post.tags}}
			<meta property="article:tag" content="{{name}}" />
		{{/foreach}}
	{{/contentFor}}

	<article id="post-{{id}}" class="{{post_class}}" role="article">
		<div class="post-image">
			<img src="{{image}}" alt="" />
		</div>
		<div class="post-content">
			<h1 class="post-title">{{{title}}}</h1>
			<div class="post-meta">&mdash; Published by {{author}} on <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="Do MMMM YYYY"}}</time> {{tags prefix="on " separator=" | "}}</div>
			{{content}}
		</div>
		<div class="post-share">
			<h3>Share this post</h3>
			<div class="icon twitter"><a href="http://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=560,height=432');return false;">Twitter</a></div>
			<div class="icon facebook"><a href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share', 'width=560,height=360');return false;">Facebook</a></div>
			<div class="icon gplus"><a href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'googleplus-share', 'width=560,height=360');return false;">Google+</a></div>
			<div class="icon linkedin"><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{url absolute="true"}}&amp;title={{encode title}}" onclick="window.open(this.href, 'linkedin-share', 'width=560,height=500');return false;">LinkedIn</a></div>
		</div>

		{{!> comments-disqus}}
		{{!> comments-facebook}}
		{{!> comments-google-plus}}
	</article>
{{/post}}
